<html>
<head>
  <meta charset="utf-8">
  <title>Versioning CSS</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
  <link href="./static/css/webtask.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>

<h1><a href="/">CSS URL Versioner</a><span>With nodejs</span></h1>

<div class="textarea-fake">
<%- css %>
</div>

</form>

</body>
</html>